<template name="Home">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<h2 id="page_title" class="pull-left">
					Deep Impact
				</h2>
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		<p id="page_text">
			Blue Planet + Meteor
		</p>
		<h3 id="page_text">
			Welcome to friction free provisioning
		</h3>
		<div class="jumbotron ">
			<div id="content" class="container">
				<h1 id="component-title">
					Ciena
				</h1>
				<p id="jumbotron-text">
					Create Services. Add/Remove Devices.
				</p>
				<p id="jumbotron-button">
					<a href="#" class="btn btn btn-primary btn-lg ciena-jumbotron-button" role="button">
					Continue &raquo;
				</a>
				</p>
			</div>
		</div>
	</div>
</template>