<template name="CienaDownerDevice">
  <div class="page-container container" id="content">
    <div class="row" id="title_row">
      <div class="col-md-12">
        <h2 id="page_title" class="pull-left">
          Ciena Device {{device.properties.connection.hostname}}
        </h2>
        <div id="page_menu" class="pull-right">
        </div>
        <div class="container-fluid">
          <table class="table table-striped">
            <tbody>
              {{#with device}}
              <tr class="">
                <td class="col-sm-8 col-md-6">
                  <div class="media-body">
                    <h4 class="media-heading">ID: {{id}}</h4>
                    <h3 class="media-heading">Type: {{properties.type}}</h3>
                    <br>
                    <span class="media-heading"> communicationState:  </span><span class="label label-info">{{properties.communicationState}} </span>
                    <span class="media-heading"> serialNumber:  </span><span class="label label-info">{{properties.serialNumber}} </span>
                    <span class="media-heading"> deviceVersion:  </span><span class="label label-info">{{properties.deviceVersion}} </span>
                    <span class="media-heading"> hostname:  </span><span class="label label-info"> {{properties.connection.hostname}} </span>
                    <br>
                  </div>
                </td>
              </tr>
              {{/with}}
            </tbody>
          </table>
          {{#if $eq device.properties.communicationState "AVAILABLE"}}
          <button type="button" class="btn btn-danger reset-device">Cold Reset</button>
          {{else}}
          <button type="button" class="btn btn-danger delete-device">Remove from BP</button>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>