<template name="CienaServiceAdd">
  <div class="container-fluid">
    <div clas="row pull-left" style="padding-top:25px;padding-bottom:15px;">
      <a type="button" href="/ciena_services" class="btn btn-info"><span class="glyphicon glyphicon-menu-left" aria-hidden="true" style="padding-right:5px;"></span>Services</a>
    </div>
    <div class="panel panel-info">
      <div id="panelTitle" class="panel-heading form-group" style="overflow: hidden;">
        Create a New Service
        <button id="saveButton" form="createServiceForm" type="submit" class="btn btn-sm btn-primary pull-right"><span class="glyphicon glyphicon-save"> Save</span></button>
        <button id="workingButton" style="display:none;" class="btn btn-sm btn-warning pull-right"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate "></span> Working...</button>
      </div>
      <div class="panel-body">
        <form id="createServiceForm" role="form" data-toggle="validator">
          <div class="row">
            <div class="col-md-6 form-group">
              <label for="serviceName" class="text-primary control-label">Service Name</label>
              <input name="serviceName" id="serviceName" required pattern=".{4,}" class="form-control input-sm" {{enableOrDisable}} value="{{name}}">
              <div class="help-block with-errors"></div>
            </div>
            <div class="col-md-6 form-group">
              <label for="cosID" class="text-primary">Class of Service Identifier</label>
              <select id="cosID" class="form-control input-sm" {{enableOrDisable}}>
                  <option value="EVC">EVC - SCOS</option>
                  <option value="PCP">PCP - MCOS</option>
                  <option value="DSCP">DSCP - MCOS</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label id="nodeZHostNameLabel" for="nodeZHostName" class="text-primary">Hostname</label>
                <select id="nodeZHostName" class="form-control input-sm" {{enableOrDisable}}>
                  {{#each zNodeHostNameOptions}}
                  <option value="{{value}}" {{selected}}>{{label}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label id="nodeCustPortLabel" for="nodeCustPort" class="text-primary">UNI Port</label>
                <select id="nodeCustPort" class="form-control input-sm" {{enableOrDisable}}></select>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="form-group">
                <label for="speed" class="text-primary control-label">Speed<sup>(M)</sup></label>
                <input name="speed" id="speed" required class="form-control input-sm" type="number" {{enableOrDisable}} value="{{speed}}">
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="form-group">
                <label for="vlan" class="text-primary control-label">VLan</label>
                <input name="vlan" id="vlan" required class="form-control input-sm" type="number" {{enableOrDisable}} value="{{vlan}}">
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div id="cvlanDiv" class="col-xs-4" {{hiddenCvlan}}>
              <div class="form-group">
                <label for="cvlan" class="text-primary control-label">CVlan</label>
                <input name="cvlan" id="cvlan" {{requiredCvlan}} class="form-control input-sm" type="number" {{enableOrDisable}} value="{{cvlan}}">
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


</template>