<template name="CienaServices">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<h2 id="page_title" class="pull-left">
					Ciena Services
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<a type="button" href="/ciena_service_story" class="btn btn-info">Add</a>
			</div>
		</div>

		<div class="row" style="padding-top:15px;">
			<div class="col-md-12">

				<table class="table table-striped table-responsive table-hover">
					<thead>
						<tr>
							<th>Service Label</th>
							<th>Count</th>
						</tr>
					</thead>
					<tbody>
						{{#each services}}
						<tr class="service-row">
							<td class="col-sm-8 col-md-6">
								<div class="media-body">
									<h4 class="media-heading">{{this.label}}</h4>
								</div>
							</td>
							<td>{{this.count}}</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</template>