<template name="HuaweiDevices">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<h2 id="page_title" class="pull-left">
					Huawei Devices {{deviceProduct.id}}
				</h2>
				<div id="page_menu" class="pull-right">
				</div>
				  <div class="container-fluid">
                    <table class="table table-striped table-responsive table-hover">
                      <tbody>
                        {{#each devices}}
                          <tr class="service-row">
                            <td class="col-sm-8 col-md-6">
                              <div class="media-body">
                                <h4 class="media-heading">hostname: {{properties.connection.hostname}}</h4>
                                <h4 class="media-heading">Type: {{properties.type}}</h4>
                                <span class="media-heading"> communicationState:  </span><span class="label label-success">{{properties.communicationState}} </span>
                                <br>
                              </div>
                            </td>
                          </tr>
                        {{/each}}
                      </tbody>
                    </table>
                    <button type="button" class="btn btn-success device-add">Add</button>
                  </div>
			</div>
		</div>
	</div>
	{{> deviceModal}}
</template>

<template name="deviceModal">
  <div class="modal fade" id="deviceModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Device Add</h4>
        </div>

        <div class="modal-body">
          <label for="hostname">Hostname</label>
          <input type="text" id="hostname"/>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary add-device" id="save">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>

      </div>
    </div>
  </div>
</template>